<html>
<head>
  <title>Bar Chart</title>
  <script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js" ></script>
  <script src = "https://cdn.zingchart.com/zingchart.min.js" ></script>
  <script src = "https://cdn.zingchart.com/angular/zingchart-angularjs.js" ></script>
  <style>
  body{
    background-color: #FFFFCC;
  }
  .container {
      overflow: hidden;
      background-color: #FFFFCC;
      font-family: Arial;
  }

  .container a {
      float: left;
      font-size: 16px;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
  }

  .dropdown {
      float: left;
      overflow: hidden;
  }

  .dropdown .dropbtn {
      font-size: 16px;
      border: none;
      outline: none;
      color: #FFFFCC;
      padding: 14px 16px;
      background-color: inherit;
  }

  .container a:hover, .dropdown:hover .dropbtn {
      background-color: #FFFFCC;
  }

  .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
  }

  .dropdown-content a {
      float: none;
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      text-align: left;
  }

  .dropdown-content a:hover {
      background-color: #ddd;
  }

  .dropdown:hover .dropdown-content {
      display: block;
  }
  </style>
</head>
<body ng-app="myApp">
  <div class="container">
    <ud>
      <li><a href="file:///D:/dashboard test/home.html"><font color = "#F08080">Home</font></a></li>
      <!-- Dropdown for line charts-->
    <div class="dropdown">
      <button class="dropbtn"><font color = "#F08080">Line Charts</font></button>
      <div class="dropdown-content">
        <ud>
          <li><a href="file:///D:/dashboard test/DAYS_OF_WEEK_line.html"><font color = "#F08080">X : Days of week</font></a></li>
        <li><a href="file:///D:/dashboard test/MONTHS_line.html"><font color = "#F08080">X : Months</font></a></li>
      </ud>
      </div>
    </div>
    <!-- Dropdown for Bar charts-->
    <div class="dropdown">
      <button class="dropbtn"><font color = "#F08080">Bar Charts</font></button>
      <div class="dropdown-content">
        <ud>
          <li><a href="file:///D:/dashboard test/DAYS_OF_WEEK_bar.html"><font color = "#F08080">X : Days of week</font></a></li>
        <li><a href="file:///D:/dashboard test/MONTHS_bar.html"><font color = "#F08080">X : Months</font></a></li>
      </ud>
      </div>
    </div>
    <!-- Dropdown for Point charts -->
    <div class="dropdown">
      <button class="dropbtn"><font color = "#F08080">Point Charts</font></button>
      <div class="dropdown-content">
        <ud>
          <li><a href="file:///D:/dashboard test/DAYS_OF_WEEK_point.html"><font color = "#F08080">X : Days of week</font></a></li>
        <li><a href="file:///D:/dashboard test/MONTHS_point.html"><font color = "#F08080">X : Months</font></a></li>
      </ud>
      </div>
    </div>
    <!-- Dropdown for Area Charts -->
    <div class="dropdown">
      <button class="dropbtn"><font color = "#F08080">Area Charts</font></button>
      <div class="dropdown-content">
        <ud>
          <li><a href="file:///D:/dashboard test/DAYS_OF_WEEK_area.html"><font color = "#F08080">X : Days of week</font></a></li>
        <li><a href="file:///D:/dashboard test/MONTHS_area.html"><font color = "#F08080">X : Months</font></a></li>
      </ud>
      </div>
    </div>
  </ud>
  </div>
  <div ng-controller="MainController">
    <div zingchart id="chart-1" zc-json="myJson" zc-width="70%" zc-height="400px" zc-values="aValues"></div>
    <form name = "myForm">
      <table border="0">
        <tr>
          <td>Y-axis values : </td>
          <td><input name = "values" type = "number" ng-model = "values">
            <span style = "color:red" ng-show = "myForm.values.$dirty && myForm.values.$invalid"></span>
            <span ng-show = "myForm.values.$error.number">Has to be a number</span>
          </td>
        </tr>
        <tr>
          <td><button ng-click = "submit()">Submit</button>
          </td>
        </tr>
      </table>
    </form>
  </div>
  <script>
  var app = angular.module('myApp',['zingchart-angularjs']);
app.controller('MainController', function($scope) {
(function(){
  $scope.data = {};
  $scope.data.valuesOne = [];
  $scope.data.valuesTwo = [];
  $scope.aValues = [$scope.data.valuesOne,$scope.data.valuesTwo];
})();

$scope.myJson = {
  type : "bar",
  title:{
    backgroundColor : "transparent",
    fontColor :"black",
    text : "Bar Chart"
  },
  "scale-x" : {
  "values" : ["Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun"]
},
  backgroundColor : "#FFFFCC",
  series : [
    {
      backgroundColor : '#00baf2'
    },
    {
      backgroundColor : '#4caf4f'
    }
  ]
};
$scope.submit = function(){
   var val = $scope.values;
   $scope.myJson.series[0].values.push(val);
 }
 });
  </script>
</body>
</html>
